a {
    color: black;
    text-decoration: none;
}

[class*="flex-"] {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.link {
    color: white;
    text-decoration: underline;
}

.search-field {
    width: 80vw;
    background-color: white;
    background-image: url('../pics/search-icon.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

@media screen and (min-width:600px) {
    .search-field {
        width: 40%;
    }
    .search-field:focus {
        width: 60%;
    }
}

@media screen and (min-width:1300px) {
    .search-field {
        width: 20%;
    }
    .search-field:focus {
        width: 40%;
    }
}
